<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지 작성 게시글 목록</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mypage.css">


</head>
<body>
<div class="p-5 mb-5 bg-light header-section">

    <div class="text-center">
        <a  href="/" style="color: rgb(33, 37, 41);text-decoration: none">
            <h1 class="mb-3">경로당, 함께하소</h1>
        </a>
        <h4 class="mb-3">작은 화면 속 우리들의 소통공간</h4>
    </div>

    <!-- 우측 상단에 로그아웃 버튼 -->
    <div class="header-right">
        <button type="button" class="btn btn-secondary logout-btn" id="logout-btn">로그아웃</button>
    </div>


</div>
<div class="wrapper">
    <div class="content">

        <div class="container mt-5">

            <div class="d-flex justify-content-between">
                <!-- 이전 페이지로 돌아가기 버튼 -->
                <button type="button" id="back-btn"
                        onclick="window.history.back();"
                        class="btn btn-secondary btn-sm">이전 페이지로 돌아가기</button>

                <!-- 게시글 목록으로 돌아가기 버튼 -->
                <button type="button" id="return-btn"
                        th:onclick="|location.href='@{/articles}'; |"
                        class="btn btn-return btn-sm">게시글 목록으로 돌아가기</button>
            </div>


            <div>
                <h4 style="font-family:'나눔고딕 ExtraBold';margin-top: 30px;margin-bottom: 30px  "th:text="|${currentUserName}님이 작성한 게시글|"></h4>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="min-width: 50px;">번호</th>
                            <th>제목</th>
                            <th style="min-width: 50px;">작성일</th>
                            <th style="min-width: 50px;">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article : ${userArticlesLists}">
                            <td style="color: #575757; "  th:text="${article.id}"></td>
                            <td style="color: #575757; ">
                                <a class="card-title-link" th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}"></a>
                            </td>
                            <td style="color: #575757; " th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd')}"></td>
                            <td style="color: #575757; " th:text="${article.viewCount}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div>



            </div>

        </div>




    </div>

    <footer>© 2024 경로당: <a class="text-dark" href="/">경로당 홈페이지</a></footer>
<!--    <footer>
        <div id="footer-senior-center">© 2024 경로당: <a class="text-dark" href="#">경로당 홈페이지</a></div>
    </footer>-->
</div>
<script src="/js/token.js"></script>
</body>
</html>