<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/article.css">
</head>

<body>
<div class="p-5 mb-5 bg-light header-section">
    <div class="text-center">
        <h1 class="mb-3">경로당, 함께하소</h1>
        <h4 class="mb-3">작은 화면 속 우리들의 소통공간</h4>
    </div>
    <button type="button" class="btn btn-secondary logout-btn" id="logout-btn">로그아웃</button>
</div>

<div class="wrapper">
    <div class="content">

    </div>

    <footer>© 2024 경로당: <a class="text-dark" href="#">경로당 홈페이지</a></footer>
</div>

<script src="/js/token.js"></script>
<script src="/js/article.js"></script>
</body>
</html>
