<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 등록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- CKEditor CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/css/article.css">

</head>
<body>

<div class="p-5 mb-5 bg-light header-section">
    <div class="text-center">
        <a  href="/" style="color: rgb(33, 37, 41);text-decoration: none">
            <h1 class="mb-3">경로당, 함께하소</h1>
        </a>
        <h4 class="mb-3">작은 화면 속 우리들의 소통공간</h4>
    </div>

    <!-- 우측 상단에 로그아웃 버튼 -->
    <div class="header-right">
        <button type="button" class="btn btn-secondary my-page-btn" id="my-page-btn">마이페이지</button>
        <button type="button" class="btn btn-secondary logout-btn" id="logout-btn">로그아웃</button>
    </div>
</div>

<div class="wrapper">

    <!-- 콘텐츠 영역 -->
    <div class="content">
        <div class="container mt-5">
            <div class="mb-4 text-right"> <!-- 상단에 간격을 추가 -->
                <button type="button" id="article-return-btn"
                        class="btn btn-return btn-sm">목록으로 돌아가기</button>
            </div>
            <div class="row">

                <div class="col-lg-12">

                    <article>
                        <input type="hidden" id="article-id" th:value="${article.id}">

                        <header class="mb-4">
                            <input type="text" class="form-control" placeholder="제목" id="title" th:value="${article.title}">
                        </header>


                        <section class="mb-5" >
                            <textarea class="form-control h-25" rows="18" placeholder="내용" id="content" th:text="${article.content}"></textarea>
                        </section>



                        <div class="text-right">
                            <button th:if="${article.id} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정</button>
                            <button th:if="${article.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>


    <footer>
        © 2024 경로당:
        <a class="text-dark" href="/">경로당 홈페이지</a>
    </footer>
</div>

<!-- CKEditor 초기화 스크립트 -->
<script>
    let editorInstance;

    ClassicEditor
        .create(document.querySelector('#content'), {
            language: 'ko', // 언어 설정
            ckfinder: {
                uploadUrl: '/api/upload?articleId=' + document.querySelector('#article-id').value // articleId 추가
            }
        })
        .then(editor => {
            editorInstance = editor;  // 에디터 인스턴스를 전역 변수에 저장
            console.log('CKEditor가 초기화되었습니다.');
        })
        .catch(error => {
            console.error('CKEditor 초기화 오류:', error);
        });
</script>
<script src="/js/article.js"></script>
<script src="/js/token.js"></script>

</body>
</html>
